@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/inter.woff2) format("woff2");
}

* {
  @apply outline-none;
}

body {
  @apply bg-white font-sans font-light text-gray-900 antialiased dark:bg-gray-1000 dark:text-gray-300;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer base {
  .link {
    @apply font-semibold tracking-wide underline;
  }

  h1 {
    @apply mb-8 text-5xl font-bold tracking-tight;
  }

  h2 {
    @apply mb-4 text-3xl font-bold tracking-tight;
  }

  h3 {
    @apply mb-4 text-2xl font-bold tracking-tight;
  }

  h4 {
    @apply mb-2 text-xl font-semibold;
  }

  h5 {
    @apply font-semibold uppercase tracking-wide;
  }
}

@layer utilities {
  .spacing-sm {
    @apply px-4 py-1.5;
  }

  .spacing {
    @apply px-6 py-3;
  }

  .spacing-lg {
    @apply px-8 py-5;
  }

  .shadow-color {
    @apply shadow-2xl shadow-gray-500/25;
  }
  .shadow-color-dark {
    @apply shadow-2xl shadow-gray-1000/75;
  }

  .text-xx {
    @apply text-[.625rem] tracking-wide;
  }
}

@layer components {
  .button {
    @apply inline-flex touch-none select-none appearance-none items-center justify-center gap-2 rounded-full px-6  py-3 font-semibold  outline-none;
    @apply bg-gray-100 text-gray-700 dark:bg-gray-700 dark:text-gray-300;
    @apply hover:bg-gray-200 dark:hover:bg-gray-600;
    @apply active:bg-gray-300;
    /* botão desabilitado */
    @apply disabled:cursor-not-allowed disabled:text-gray-300 disabled:hover:bg-gray-100 disabled:active:bg-gray-100 dark:disabled:bg-gray-900 dark:disabled:text-gray-600;
    @apply ring-brand ring-offset-white focus:ring-2;
  }

  .button-primary {
    @apply bg-brand text-white ring-offset-2 hover:bg-brand-700 active:bg-brand-900 dark:ring-offset-gray-1000;
    @apply dark:bg-brand dark:text-white dark:hover:bg-brand-700 dark:active:bg-brand-900;
    @apply disabled:bg-brand-300 disabled:text-brand-100 disabled:hover:bg-brand-300 disabled:active:bg-brand-300 dark:disabled:bg-brand-900 dark:disabled:text-brand dark:disabled:hover:bg-brand-900 dark:disabled:active:bg-brand-900;
  }

  .button-small {
    @apply spacing-sm text-sm font-medium;
  }

  .button-large {
    @apply spacing-lg text-xl;
  }

  .button-link {
    @apply bg-transparent hover:bg-gray-100 dark:bg-transparent dark:hover:bg-gray-800;
  }

  .button svg {
    @apply w-4;
  }

  .button-squared {
    /* @apply p-3; */
    @apply h-12 w-12 p-0;
  }

  .button-squared.button-small {
    /* @apply p-1.5 */
    @apply h-8 w-8 p-0;
  }
  .button-squared.button-large {
    /* @apply p-5 */
    @apply h-16 w-16 p-0;
  }

  .button-icon svg {
    @apply w-5;
  }
  .button-icon.button-small svg {
    @apply w-4;
  }
  .button-icon.button-large svg {
    @apply w-6;
  }

  .field {
    @apply mb-4 block w-full font-normal;
  }

  .field-label {
    @apply mb-2 block font-semibold;
  }

  .field-input {
    @apply rounded-xl bg-gray-100 ring-brand  focus-within:ring-2 dark:bg-gray-800;
  }
  .field-default {
    @apply spacing w-full rounded-xl  bg-gray-100 ring-brand placeholder:text-gray-400 focus-within:ring-2 dark:bg-gray-800 dark:placeholder:text-gray-600;
    @apply disabled:text-gray-300 dark:disabled:text-gray-600;
  }
  .field-default.field-small {
  }
  .field-default.field-link {
    @apply spacing w-full rounded-xl  bg-transparent ring-brand placeholder:text-gray-400 focus-within:ring-2 dark:bg-transparent dark:placeholder:text-gray-600;
    @apply disabled:text-gray-300 dark:disabled:text-gray-600;
  }

  .select-field button span {
    @apply block overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .field-checkbox {
    @apply relative flex items-center gap-4;
  }
  .field-checkbox .field-label {
    @apply m-0;
  }
  .field-checkbox input {
    @apply absolute opacity-0;
  }
  .field-checkbox .checkbox {
    @apply h-4 w-4 rounded border border-transparent  bg-gray-100 dark:bg-gray-600;
  }
  .field-checkbox .checkbox svg {
    @apply -mt-1 scale-50 text-white opacity-0 transition;
  }

  .field-checkbox input:checked ~ .checkbox {
    @apply relative bg-brand;
  }
  .field-checkbox input:checked ~ .checkbox svg {
    @apply scale-100 opacity-100;
  }

  .field-checkbox input:focus ~ .checkbox {
    @apply border-brand ring-2 ring-brand  ring-offset-2 dark:ring-offset-gray-1000;
  }

  .dropdown-content {
    @apply shadow-color dark:shadow-color-dark z-50 rounded-xl border border-black/10 bg-gray-100/75 py-2 backdrop-blur-xl dark:bg-gray-700/25;
  }

  .dropdown-label {
    @apply text-xx spacing-sm font-semibold uppercase text-gray-700 antialiased  dark:text-gray-300;
  }

  .dropdown-item {
    @apply spacing cursor-pointer font-normal text-gray-700 antialiased focus:bg-brand focus:text-white  focus:outline-none dark:text-gray-200;
  }

  .dropdown-item.item-small {
    @apply spacing-sm text-xs;
  }

  .dropdown-item a {
    @apply block;
  }

  .dropdown-hr {
    @apply my-2 border-gray-500/10 dark:border-gray-200/10;
  }
}

.calendar-weekday {
  @apply px-2 py-4 text-xs font-semibold tracking-wide;
}

.calendar-day {
  @apply rounded-lg py-2 text-center lg:text-left;
}
.calendar-day.not-this-month .day-button {
  @apply text-gray-300 dark:text-gray-700;
}

.calendar-day .day-button {
  @apply h-8 w-8  lg:h-6 lg:w-6 lg:text-xs;
}

.calendar-day.is-today .day-button {
  @apply font-semibold text-brand;
}
.calendar-day.is-selected .day-button {
  @apply bg-brand font-semibold text-white;
}

.no-scrollbars::-webkit-scrollbar {
  display: none;
}
.dialog {
  @apply fixed top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2;
}
.dialog-toast {
  @apply fixed top-4 left-1/2 z-[60] -translate-x-1/2;
}

.dialog-overlay {
  @apply fixed inset-0 z-50 bg-gray-700/50 backdrop-blur-lg;
}

.dialog-content {
  @apply z-50  rounded-xl  bg-white text-gray-900 shadow-xl focus:outline-none  dark:bg-gray-1000 dark:text-gray-200;
}

.bg-feed {
  @apply bg-feed-500 text-white dark:bg-feed-600;
}
.bg-feed-hover {
  @apply hover:bg-feed-600 dark:hover:bg-feed-700;
}

.bg-reels {
  @apply bg-reels-500 text-white dark:bg-reels-600;
}
.bg-reels-hover {
  @apply hover:bg-reels-600 dark:hover:bg-reels-700;
}

.bg-task {
  @apply bg-task-500 text-white;
}
.bg-task-hover {
  @apply hover:bg-task-600;
}

.bg-stories {
  @apply bg-stories-500 text-white;
}
.bg-stories-hover {
  @apply hover:bg-stories-600;
}

.bg-meeting {
  @apply bg-meeting-500 text-white dark:bg-meeting-600;
}
.bg-meeting-hover {
  @apply hover:bg-meeting-600 dark:hover:bg-meeting-700;
}

.bg-print {
  @apply bg-print-500 text-white  dark:bg-print-600;
}
.bg-print-hover {
  @apply hover:bg-print-600 dark:hover:bg-print-700;
}

.bg-tiktok {
  @apply bg-tiktok-500 text-white dark:bg-tiktok-600;
}
.bg-tiktok-hover {
  @apply hover:bg-tiktok-600 dark:hover:bg-tiktok-700;
}

.bg-financial {
  @apply bg-financial-500 text-white dark:bg-financial-600;
}
.bg-financial-hover {
  @apply hover:bg-financial-600 dark:hover:bg-financial-700;
}

/* Status */

.bg-idea {
  @apply bg-idea-500 text-white;
}
.bg-idea-hover {
  @apply hover:bg-idea-600;
}
.border-idea {
  @apply border-idea-500;
}

.bg-do {
  @apply bg-do-400 text-white dark:bg-do-500;
}
.bg-do-hover {
  @apply hover:bg-do-500 dark:hover:bg-do-600;
}
.border-do {
  @apply border-do-400;
}

.bg-doing {
  @apply bg-doing-500 text-white dark:bg-doing-600;
}
.bg-doing-hover {
  @apply hover:bg-doing-600 dark:hover:bg-doing-700;
}
.border-doing {
  @apply border-doing-500;
}

.bg-review {
  @apply bg-review-500 text-white;
}
.bg-review-hover {
  @apply hover:bg-review-600;
}
.border-review {
  @apply border-review-500;
}

.bg-done {
  @apply bg-done-500 text-white;
}
.bg-done-hover {
  @apply hover:bg-done-600;
}
.border-done {
  @apply border-done-500;
}

.bg-accomplished {
  @apply bg-accomplished-500 text-white dark:bg-accomplished-600;
}
.bg-accomplished-hover {
  @apply hover:bg-accomplished-600 dark:hover:bg-accomplished-700;
}
.border-accomplished {
  @apply border-accomplished-500;
}

.exclamation {
  @apply inline-flex items-center gap-4 rounded-xl px-5 py-3 text-sm font-normal leading-tight;
}
.exclamation.large {
  @apply gap-6 rounded-2xl px-8 py-6 text-2xl;
}
.exclamation.small {
  @apply gap-3 rounded-lg px-3 py-2 text-xs;
}

.exclamation-icon {
  @apply w-12;
}

.exclamation.large .exclamation-icon {
  @apply w-16;
}

.exclamation.small .exclamation-icon {
  @apply w-8;
}

.bg-info {
  @apply bg-info-100 text-info-700 dark:bg-info-900 dark:text-white;
}
.bg-alert {
  @apply bg-alert-100 text-alert-700 dark:bg-alert-900 dark:text-white;
}
.bg-error {
  @apply bg-error-100 text-error-700 dark:bg-error-900 dark:text-white;
}
.bg-success {
  @apply bg-success-100 text-success-700 dark:bg-success-700 dark:text-white;
}

.action-line {
  @apply relative mx-1 mt-1 flex cursor-pointer items-center justify-between gap-2 rounded-md py-1 px-2 ring-brand ring-offset-2 ring-offset-white transition focus-within:ring-2 dark:ring-offset-gray-1000;
}

.action-line-new {
  @apply relative mx-1 mt-1 flex cursor-pointer items-center justify-between gap-2 rounded border-l-4 bg-gray-100 py-1 px-2 ring-brand ring-offset-2 ring-offset-white transition focus-within:ring-2 hover:text-white dark:bg-gray-800 dark:ring-offset-gray-1000;
}

.action-medium {
  @apply relative mb-2 flex flex-nowrap justify-between gap-4 rounded-xl bg-gray-100 p-4 text-gray-900  ring-brand ring-offset-2 ring-offset-white transition hover:bg-gray-200 focus:ring-2 dark:bg-gray-800 dark:text-gray-100 dark:ring-offset-gray-1000 dark:hover:bg-gray-700;
}

.action-medium.accomplished {
  @apply opacity-50 hover:opacity-100;
}

.dragging {
  @apply scale-90 opacity-50;
}

.dragover {
  @apply bg-brand-100 ring-1 ring-inset ring-brand dark:bg-brand-900/50;
}

.dropped {
  @apply bg-error-50;
}

.busy {
  @apply scale-90 opacity-25;
}

[data-side="right"] {
  @apply origin-top-left;
}

[data-side="left"] {
  @apply origin-top-right;
}
